<div
  class="card transition transform hover:-translate-y-1 lg:card-side bg-base-100 shadow-xl mb-10"
>
  <div class="card-body">
    <h2 class="card-title text-3xl">{{ city.city }}</h2>
    <div class="flex flex-wrap justify-between px-1 my-3">
      <div clas>
        <div class="text-lg font-medium">Population</div>
        <div class="opacity-80">{{ city.population }}</div>
      </div>
      <div>
        <div class="text-lg font-medium">Projects Completed</div>
        <div class="opacity-80">
          {{ city.completedOnTime + city.completedLate }}
        </div>
      </div>
      <div>
        <div class="text-lg font-medium">Projects Ongoing</div>
        <div class="opacity-80">{{ city.ongoing }}</div>
      </div>
      <div>
        <div class="text-lg font-medium">Projects Onhold</div>
        <div class="opacity-80">{{ city.onhold }}</div>
      </div>
    </div>
    <div class="card-actions justify-center">
      <button
        class="btn btn-block btn-outline btn-secondary"
        (click)="onClick(city.id)"
      >
        Go
      </button>
    </div>
  </div>
</div>
