<div class="card transition transform hover:-translate-y-1 shadow-xl mb-10">
  <div class="card-body">
    <div class="card-title text-3xl mb-4">Table</div>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 mx-5 shadow-none mb-10"
  >
    <ng-container
      *ngFor="let column of displayedColumns"
      matColumnDef="{{ column }}"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by {{ column }}"
        class="text-base"
      >
        {{ column }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element[column] }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
