<div class="card">
  <div class="card-body">
    <h1 class="card-title text-2xl mb-2">Add Category/Subcategory</h1>
    <!-- <div mat-dialog-content> -->
    <div class="form-control my-2">
      <label for="input1" class="label text-xl font-medium"> Category </label>
      <input
        id="input1"
        type="text"
        placeholder="Enter the category to Add or Modify"
        class="input input-bordered input-secondary w-full max-w-xs"
        [(ngModel)]="categoryName"
      />
    </div>
    <div class="form-control my-2">
      <label for="input2" class="label text-xl font-medium">
        Subcategories
      </label>
      <textarea
        id="input2"
        class="textarea textarea-secondary"
        placeholder="Enter the Subcategories to Add separated by commas ( Example : summer,winter,autumn ) "
        [(ngModel)]="subCategoryString"
      ></textarea>
    </div>
    <!-- </div> -->
    <div mat-dialog-actions class="my-2">
      <button class="btn btn-outline btn-secondary" (click)="onNoClick()">
        No Thanks
      </button>
      <button class="btn mx-4" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
